@import url("https://fonts.googleapis.com/css2?family=Shippori+Antique+B1&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto+Condensed&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");
body,
html,
p {
    padding: 0;
    margin: 0;
}

body {
    background: #f2f2f2;
}

.nextsubmitbutton1 {
    background-color: #f1c40f;
    /* Green */
    border: none;
    color: rgb(0, 0, 0);
    padding: 10px 25px;
    font-family: "Shippori Antique B1", sans-serif;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 22px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 12px;
}

.nextsubmitbutton1:hover {
    box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24), 0 17px 50px 0 rgba(0, 0, 0, 0.19);
}

.nextsubmitbutton1 span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
}

.nextsubmitbutton1 span:after {
    content: '\00bb';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.5s;
}

.nextsubmitbutton1:hover span {
    padding-right: 25px;
}

.nextsubmitbutton1:hover span:after {
    opacity: 1;
    right: 0;
}


/* Header Styling */

.form-header {
    padding: 1em;
    background: #142044;
    box-shadow: 5px 4px 5px rgba(0, 0, 0, 0.37);
}

.page-title {
    font-family: "Shippori Antique B1", sans-serif;
    font-size: 2.5rem;
    font-weight: 900;
    color: white;
}


/* Navigation Styling */

.top-nav {
    padding: 2em 0;
}

.parent {
    width: min(550px, 75%);
}


/* Styling for the container of the icon */

.size {
    width: 50px;
    height: 50px;
}

.circle {
    position: relative;
    border-radius: 50%;
    background-color: #ffdc51;
    display: flex;
    justify-content: center;
    align-items: center;
    color: black;
}


/* ::after property on icon to display its 'title' below it */

.circle::after {
    font-family: "Roboto Condensed";
    font-weight: 400;
    display: block;
    position: absolute;
    bottom: -20px;
}

#personal-icon::after {
    content: "Personal";
}

#experience-icon::after {
    content: "Experience";
}

#template-icon::after {
    content: "Templates";
}


/* ::before property on icon to show that part of the form is done with a tick icon */

.complete::before {
    content: "\f00c";
    font-family: "Font Awesome 5 Free";
    font-size: 1em;
    font-weight: 900;
    color: rgb(38, 187, 38);
    position: absolute;
    top: 0;
    right: 0;
}


/* Temporary purpose only */

#contains-forms {
    margin-top: 1.5em;
}

.disappear {
    transition: transform 500ms linear, opacity 500ms linear;
}


/* page styling which contains the form */

.container {
    width: min(800px, 85%);
    margin-left: auto;
    margin-right: auto;
}

.page {
    padding: 2em;
    position: relative;
    background: white;
}


/* Title for the form */

.form-title {
    padding: 0.5em;
    margin: 0;
    margin-bottom: 1em;
    font-family: "Shippori Antique B1", sans-serif;
    font-weight: 700;
    color: #434;
    font-size: 1rem;
    border-bottom: 2px solid #434;
}


/* Individual style for the image file input's label */

.file-label {
    margin: 1em;
    width: 135px;
    height: 150px;
    border: 2px dashed #434;
    border-radius: 5px;
    cursor: pointer;
}


/* Stying for each label of the respective input */

.input-label {
    display: block;
    padding: 0.5em;
    font-family: "Montserrat", sans-serif;
    font-size: 0.9rem;
    font-weight: 900;
    color: black;
    position: relative;
    /* text-shadow:3px 2px 7px rgba(0, 0, 0, 0.507); */
}


/* after property for those fields who has the class 'required' */

:is(.required,
.info-tt)::after {
    font-family: "Font Awesome 5 Free";
    font-size: .5em;
    font-weight: 900;
    color: red;
    position: absolute;
    top: 1em;
    /* right: 0; */
}

.required::after {
    content: '\f621';
}


/* Styling for all input fields */

.input-style {
    appearance: none;
    outline: none;
    border: 1.4px solid #434;
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 0.6em;
    margin: 0.5em;
    margin-top: 0;
    font-family: "Roboto Condensed";
    font-size: 1.2rem;
    font-weight: 400;
    color: #434;
}


/* Giving all inputs a shadow when focus applied */

.input-style:focus {
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.5);
}


/* Styling for the fields who has the class 'invalid' */

.invalid {
    box-shadow: 0 0 15px #c31;
}


/* Keeping the 'select' element's apperance to auto only */

select.input-style {
    appearance: auto;
}


/* styling and absolute positioning for the icon with the plus sign */

.show-more {
    background: transparent;
    border: none;
    position: absolute;
    bottom: -0.6em;
    left: 50%;
    transform: translateX(-50%);
    cursor: pointer;
}


/* Styling for the button */

.btn {
    display: block;
    padding: 0.5em;
    margin: 1em 0;
    font-family: "Shippori Antique B1", sans-serif;
    text-transform: capitalize;
    border: 0;
    border-radius: 10px;
}

.btn-blank {
    display: block;
    margin-bottom: 1em;
    border: 0;
    background-color: transparent;
    font-family: "Montserrat";
    font-size: .9rem;
    font-weight: 700;
    text-decoration: underline;
}

.btn-lg {
    font-size: 2rem;
}

.btn-accent {
    background: #f1c40f;
    color: black;
    font-weight: 700;
}

.btn-accent:active {
    background: #8a6f06;
    color: white;
}

.btn-semi-dark {
    background: #142044;
    color: white;
    font-weight: 700;
}

.btn-semi-dark:active {
    background: #274294;
    color: black;
}


/* Styling for the template-view that is the container which will display the image of the template */

.template-view {
    display: block;
    padding: 1em;
    padding-bottom: 2em;
    height: 250px;
    width: 170px;
    background-color: white;
    transition: transform 350ms ease-in 50ms;
}

.template-view:hover {
    transform: scale(1.3, 1.3);
}

.template-img {
    width: 100%;
}


/* Size of radio button */

.radio-style {
    width: 1.25em;
    height: 1.25em;
    accent-color: #f1c40f;
    margin-top: .5em;
}


/* Tool-tip appearance and styling */

.info-tt::after {
    content: '\f05a';
    color: #142044;
    font-size: .6em;
}

.description-tt {
    position: relative;
}

.description-tt::after {
    content: attr(data-tool-tip);
    /* Means whatever 'value' given to the attribute 'data-tool-tip' will become the content of the after element */
    display: block;
    position: absolute;
    padding: 1em 3em;
    background-color: grey;
    border-radius: 5px;
    color: white;
    font-family: "Montserrat", sans-serif;
    font-size: 0.8em;
    bottom: 0;
    left: 0;
    white-space: wrap;
    transform: scale(0);
    transition: transform ease-out 250ms, bottom ease-out 250ms;
}

.description-tt:hover::after {
    transform: scale(1);
    bottom: 100%;
}


/* Class for max length display */

.max-display {
    font-family: "Roboto Condensed";
    font-size: .8rem;
    font-weight: 400;
    color: #434;
    position: absolute;
    right: 25px;
    top: 33px;
}


/* Utility Classes */

.medium {
    font-size: 1rem;
}

.large {
    font-size: 1.5rem;
}

.larger {
    font-size: 2.5rem;
}

.text-center {
    text-align: center;
}

.border {
    border: 1px solid black;
}

.b-radius-subtle {
    border-radius: 5px;
}

.box-shadow {
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.3);
}

.box-shadow-green {
    box-shadow: 0 0 15px rgb(5, 247, 5);
}

.of-v {
    overflow: visible;
}

.of-s {
    overflow: scroll;
}

.of-h {
    overflow: hidden;
}

.d-none {
    display: none;
}

.d-block {
    display: block;
}

.d-flex {
    display: flex;
}

.dir-row {
    flex-direction: row;
}

.dir-col {
    flex-direction: column;
}

.flex-wrap {
    flex-wrap: wrap;
}

.flex-nowrap {
    flex-wrap: wrap;
}

.justify-content-between {
    justify-content: space-between;
}

.justify-content-around {
    justify-content: space-around;
}

.justify-content-center {
    justify-content: center;
}

.align-items-center {
    align-items: center;
}

.fb-100 {
    flex-basis: 100%;
}

.fb-50 {
    flex-basis: 50%;
}

.g-4 {
    gap: 1.5em;
}

.resize {
    resize: vertical;
}

.stretch {
    width: 100%;
}

.mx-auto {
    margin-left: auto;
    margin-right: auto;
}

.ms-auto {
    margin-left: auto;
}

.me-auto {
    margin-right: auto;
}

.mi-1 {
    margin-left: 0.5em;
    margin-right: 0.5em;
}

.m-0 {
    margin: 0;
}

.pos-rel {
    position: relative;
}


/* Action related */

.contracted {
    overflow: hidden;
    /* Hide the element content, while height = 0 */
    max-height: 0px;
    opacity: 0;
    transition: max-height 700ms, opacity 500ms 0ms;
}

.contracted.expand {
    max-height: 10000px;
    opacity: 1;
}


/* Media Queries */

@media (min-width:600px) {
    .fb-sm-50 {
        flex-basis: 50%;
    }
    .flex-sm-nowrap {
        flex-wrap: nowrap;
    }
}

a {
    all: unset;
}